/* Reset */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"); */

* {
  font-family: "Courier New", Courier, monospace, cursive !important;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

button,
input,
textarea,
a {
  outline: none;
}

button,
a,
label,
select,
option {
  cursor: pointer;
}

/* Styling */

h1 {
  text-align: center;
}

span#spanMaxNumber,
span#spanCurrentAttempts {
  color: red;
}

div.action {
  margin: 2px auto;
  width: 99%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid red;
  border-radius: 6px;
  box-shadow: 0 0 10px red;
}

table#Table {
  margin: 2px;
  overflow: auto;
}
